@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"]:active,
input[type="number"]:focus {
  background-color: #bcd2e8;
}

input[type="text"]:active,
input[type="text"]:focus {
  background-color: #bcd2e8;
}

input[type="email"]:active,
input[type="email"]:focus {
  background-color: #bcd2e8;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  font-size: 22px;
  padding: 1rem;
  font-weight: bold;
}

input[type="text"] {
  font-size: 22px;
  padding: 1rem;
  font-weight: bold;
}

input[type="email"] {
  font-size: 22px;
  padding: 1rem;
  font-weight: bold;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #f3780c;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  font-family: "Karla", sans-serif;
  background-color: #fff8d9;
}

h1,
h2,
h3 {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
}

h4 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

/* Navbar */

.fill ul li {
  position: relative;
}
.fill ul li:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 1px;
}

.fill ul li {
  transition: all 2s;
}

.fill ul li :after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.fill ul li :hover {
  color: #f3780c;
  z-index: 1;
}

.fill ul li:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Navbar end */

/* Contact us button*/
.button-50 {
  appearance: button;
  background-color: #ffb602;
  background-image: none;
  border: 4px solid #1f1f1f;
  box-shadow: #1f1f1f 4px 4px 0 0, #1f1f1f 4px 4px 0 1px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: calc(0.2rem - 0px) calc(1rem - 1px);
  font-weight: 800;
  overflow: visible;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: 2px 2px 0 0, #1f1f1f 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* Contact us button*/
.button-2 {
  appearance: button;
  background-color: #ffb602;
  background-image: none;
  border: 4px solid #1f1f1f;
  box-shadow: #1f1f1f 4px 4px 0 0, #1f1f1f 4px 4px 0 1px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 2rem;
  padding: calc(0.2rem - 0px) calc(1rem - 1px);
  font-weight: 800;
  overflow: visible;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-2:focus {
  text-decoration: none;
}

.button-2:hover {
  text-decoration: none;
}

.button-2:active {
  box-shadow: rgba(0, 0, 0, 0) 0 3px 5px inset;
  outline: 0;
}

.button-2:not([disabled]):active {
  box-shadow: 2px 2px 0 0, #1f1f1f 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* === Submit Button ==== */

.submit {
  appearance: button;
  background-color: #ffb602;
  background-image: none;
  border: 4px solid #1f1f1f;
  box-shadow: #1f1f1f 4px 4px 0 0, #1f1f1f 4px 4px 0 1px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  display: inline-block;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 2rem;
  padding: calc(0.2rem - 0px) calc(1rem - 1px);
  font-weight: 800;
  overflow: visible;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
}

.submit:focus {
  text-decoration: none;
}

.submit:hover {
  text-decoration: none;
}

.submit:active {
  box-shadow: rgba(0, 0, 0, 0) 0 3px 5px inset;
  outline: 0;
}

.submit:not([disabled]):active {
  box-shadow: 2px 2px 0 0, #1f1f1f 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

textarea:focus,
input:focus {
  outline: none;
}

/* our work button */

.portfolio_button {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 4px solid #1f1f1f;
  box-shadow: #1f1f1f 4px 4px 0 0, #1f1f1f 4px 4px 0 1px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: calc(0.2rem - 0px) calc(1rem - 1px);
  font-weight: 800;
  overflow: visible;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  vertical-align: middle;
  white-space: nowrap;
}

.portfolio_button:focus {
  text-decoration: none;
}

.portfolio_button:hover {
  text-decoration: none;
}

.portfolio_button:active {
  box-shadow: rgba(0, 0, 0, 0) 0 3px 5px inset;
  outline: 0;
}

.portfolio_button:not([disabled]):active {
  box-shadow: 2px 2px 0 0, #1f1f1f 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* =============== MEDIA QUIERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 640px) {
  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .button-2 {
    font-size: 1.05rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .button-50 {
    font-size: 0.9rem;
    padding: 0rem 0.4rem;
  }
}

@media screen and (max-width: 640px) {
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    font-size: 15px;
    padding: 1rem;
    font-weight: bold;
  }

  input[type="text"] {
    font-size: 15px;
    padding: 1rem;
    font-weight: bold;
  }

  input[type="email"] {
    font-size: 15px;
    padding: 1rem;
    font-weight: bold;
  }
}

/* footer */

footer {
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* infinite scrolling */

.orb {
  float: left;
  transition: all 0.2s ease-out;
  text-align: center;
  margin-top: 1.3rem;
  padding-top: 0.2rem;
  padding-bottom: 1.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.orb:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.violet {
  padding-top: 0.8rem;
}

.brown {
  padding-top: 0.8rem;
}
.red {
}
.yellow {
  padding-top: 0.8rem;
}
.blue {
  padding-top: 0.8rem;
}
.orange {
}

.purple {
}
.green {
}

.marquee {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 300%;
  position: absolute;
  animation: marquee 55s linear infinite;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

/*.half {
  float: left;
  width: 10%;
}*/

@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

/* =============== MEDIA QUIERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }

  .orb {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .marquee--inner {
    animation: marquee 20s linear infinite;
  }
}
